body {
  font-family: serif;
  color: rgb(116, 241, 194);
  background: #4e3014;
}


/* Laptops */
@media screen and (min-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .item {
    margin: auto;
    max-width: 700px;
    text-align: center;
  }

  .item > p {
    font-size: 20px;
  }

  .item > h1 {
    font-size: 40px;
  }

  .item > h3 {
    font-size: 34px;
  }

  .img-item {
    display: flex;
    max-width: 300px;
    display: block;
    height: auto;
    margin: 0 auto;
  }
}

/* Tablets */
@media (max-width: 700px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .item {
    margin: auto;
    max-width: 700px;
    text-align: center;
  }

  .item > p {
    font-size: 21px;
  }

  .item > h1 {
    font-size: 34px;
  }

  .item > h3 {
    font-size: 30px;
  }

  .img-item {
    display: flex;
    max-width: 400px;
    height: auto;
    margin: 0 auto;
  }
}


/* mobile */
@media screen and (max-width: 480px) {
  body {
    color: #4e3014;
    background: rgb(116, 241, 194);
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .item {
    margin: auto;
    max-width: 700px;
    text-align: center;
  }

  .item > p {
    font-size: 14px;
  }

  .item > h1 {
    font-size: 29px;
  }

  .item > h3 {
    font-size: 24px;
  }

  .img-item {
    display: flex;
    max-width: 260px;
    height: auto;
    margin: 0 auto;
  }
}
