body {
  /* margin: 0 auto;
  max-width: 50em; */
  font-family: serif;
  color: rgb(116, 241, 194);
  background: #4e3014;
}



  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .item {
    margin: auto;
    font-size: 15px;
  max-width: 700px;
  text-align: center;
  
  
  }

  .item > p {
      font-size: 18px
  }

  .item > h1 {
      font-size: 35px;
  }


  .img-item {
    display: flex;
    max-width: 600px;
    display: block;
    height: auto;
    margin: 0 auto;
  }

  @media screen and (min-width: 600px) {

  }

@media screen and (max-width: 450px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    
      .item {
        margin: auto;
        font-size: 15px;
      max-width: 700px;
      text-align: center;
      
      
      }
    
      .item > p {
          font-size: 14px
      }
    
      .item > h1 {
          font-size: 29px;
      }
    
    
      .img-item {
        display: flex;
        max-width: 550px;
        display: block;
        height: auto;
        margin: 0 auto;
      }
    }    
